@model IEnumerable<Product>
@section Scripts {
    @*<script type="text/javascript" src="./Whomever/wwwroot/ts/main.js"></script>
    <script type="text/javascript" src="./Whomever/wwwroot/ts/user.js"></script>
*@
<script src="/./ts/user.js"></script>
<script src="/./ts/main.js"></script>

}
    <h1>WebShop</h1>
    <p>Count: @Model.Count()</p>
    <div class="row">
        @foreach (var p in Model)
    {
        <div class="col-md-3">
            <div class="border bg-white rounded p-1">
                <img src="~/img/@(p.ProductId).jpg" class="img-fluid" alt="@p.Category" />
                <h3>@p.Category @p.Title</h3>
                <ul>
                    <li>Brand: @p.Brand</li>
                    <li>Category: @p.Category</li>
                    <li>Title @p.Title</li>
                    <li>Size @p.Size</li>
                    <li>Price: @p.Price</li>
                    <li>Description: @p.Description</li>
                </ul>
                <button id="addtocartButton" class="btn btn-outline-dark">Add to cart</button>
            </div>
        </div>
    }
</div>